* {
    box-sizing: border-box;
}

#nav {
    overflow: hidden;
    background-color: rgb(53, 50, 50);
}

#nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover {
    background-color: rgb(167, 98, 98);
    color: rgb(255, 255, 255);
}

#nav #switch-btn {
    position: inherit;
    right: 10px;
    color: rgb(255, 0, 0)
}